.widget {
    width: 500px;
}
/* This can be added at the top of the html in LA, <style> ... </style> */
.container_50 {
    display: flex;
    flex-wrap: wrap;
}
.container_50>div {
    flex: 0 50%;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}

.mouseDiv {
    flex: 0 29%;
    margin-bottom: 5 px;
    padding: 10px;
    background: rgb(245, 241, 241);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}
  
.mouseDiv>div {
    flex: 0 50%;
    margin-bottom: 5px;
}